{% extends 'base.html' %}
{% block title %}
    Verify Page
{% endblock %}

{% block content %}

<div class="container h-100 d-flex align-items-center justify-content-center mt-5">

<form method="POST" class="form" style="color:white">
    {{ form.hidden_tag() }}
    <h2>Your Location</h2><h4>{{source}}</h4>
    <br>

    <h2>Your Destination</h2><h4>{{destination}}</h4>
    <br>
    <h2>Distance</h2><h4>{{distance}} KM</h4>
    <br>

    <h2>Fare</h2><h4>{{fare}} Rs</h4>
    <br>
   
    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}


</form>

</div>

{% endblock %}

<style>
    h3,h4 {
    background-color: #212121;
    color: white;
    display:inline
    }