{% extends 'base.html' %}
{% block title %}
    Verify Page
{% endblock %}

{% block content %}

<div class="container h-100 d-flex align-items-center justify-content-center mt-5">

<form method="POST" class="form" style="color:white">
    {{ form.hidden_tag() }}
    <h3>Your Location</h3><h5>{{source}}</h5>
    <br>

    <h3>Your Destination</h3><h5>{{destination}}</h5>
    <br>
    <h3>Date</h3><h5>{{dates}}</h5>
    <br>
    <h3>Timing</h3><h5>{{times}} KM</h5>
    <br>

    <h3>Distance</h3><h5>{{distance}} KM</h5>
    <br>

    <h3>Fare</h3><h5>{{fare}} Rs</h5>
    <br>
   
    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}


</form>

</div>

{% endblock %}

<style>
    h3,h4 {
    background-color: #212121;
    color: white;
    display:inline
    }